/*Codes that's My Added*/

/*Font size adjust*/

.work_title p, .contact_title p{
	font-size: 18px;
	color: #000;
	margin-bottom: 25px;
  text-align: left

}

.left p {
  font-size: 18px;

}

.services
{
padding-top: 10px;

}

.about_us_p
{
    font-size: 18px;


}
/*added code for list of services	*/


.title-for-list-services {
	text-align: center;
	font-size: 300%;
padding-bottom: 30px;
	text-transform:uppercase;
  letter-spacing:15px;

}



.list-services li {
    border-top: 1px solid #ccc;
    padding: .25rem 0;
    line-height: 2em;
    list-style: none;
    font-size: 18px;
  }

.single_service  {
padding-bottom: 10%;

  }

.what-I-do {
  text-align:center;
  padding: 50% 0 0;
  font-size: 20px;
  color:white;
  
}


.col-md-3 {
	width: 33.3333%
}

.col-md-9 {
	width: 65%
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .col-md-3 {
  width: 100%
    }
}

/*FOOTER*/
.me {
  display: block;
  margin: 0em auto;
  margin-bottom: 3em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

/*GENERAL
*/

p{
  font-family: 'sans-serif', sans-serif;
  font-size: 18px;
}

/*TESTIMONIAL*/
.testimonial .icon i{
  color: #ff2309;

}

.single_testimonial p{

  font-size: 30px;
}

/*PUT FOOTER AT BOTTOM ON PAGE*/



