@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

.photos {
text-align: center;

}

img{
 width:670px; /* you can use % */
 height: auto;


}

body {
  background: white;
  font-family: sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 1.5;

}

p { margin-bottom: 1.5em; }

article {
  width: 800px;
  margin: 100px auto 0;
}

header {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

header img {
  display: block;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -300px;
  transform-origin: 50% 50%;
  transform: scale(0.9) rotate(-5deg);
  transition: all 1s ease-in-out;
}

header:hover img {
  transform: scale(1) rotate(0);
}

header h1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2.5em;
  color: #fff;
  text-transform: uppercase;
  background: rgba(0,0,0,0.8);
  padding: 0 0.3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  float: left; /* float left to restore height from floated tags */
  background: #fff;
  padding: 1em;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.875em;
  margin-bottom: 0.25em;
}

.tags li {
  float: left;
  background: #f2f2f2;
  padding: 0 0.5em;
  margin: 0 0.5em 0 0;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.tags .html { border-bottom-color: #e34c26; }
.tags .css { border-bottom-color: #2662e3; }
.tags .js { border-bottom-color: #8CC84B; 